<div class="event-box">
    <h2>Upcoming Events</h2>
    <%= render @upcoming_events %>
    <%= button_to, "Details", @event %>  
</div>

<div class="event-box">
    <h2>Past Events</h2>
    <%= render @past_events %>
    <%= button_to, "Details", @event %>
</div>
